[submodule "bash/liquidprompt"]
	path = bash/liquidprompt
	url = https://github.com/thomascobb/liquidprompt
[submodule "bash/dircolors-solarized"]
	path = bash/dircolors-solarized
	url = https://github.com/huyz/dircolors-solarized
[submodule "bash/powerline-fonts"]
	path = bash/powerline-fonts
	url = https://github.com/powerline/fonts
